<div class="footer">
  <section class="footimgs">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
      <img alt="cc nc-by-sa" src="/static/cc.svg">
    </a>
    <a href="https://webring.xxiivv.com/#random" target="_blank">
      <img alt="xxiivv webring" src="/static/webring.svg">
    </a>
    <a href="/blog/feed.xml" >
      <img alt="rss feed" src="/static/rss.svg" width="30">
    </a>
    <a href="https://git.icyphox.sh">
      <img alt="git" src="/static/git.svg" width="35">
    </a>
    <a href="https://h.icyphox.sh/u/icy">
      <img alt="fedi" src="/static/honk.svg" width="35">
    </a>

  </section>
  <section class="credits">
    <span><em><small>
      <a href="https://openbsd.org">OpenBSD</a> ·
      <a href="https://man.openbsd.org/httpd.8">httpd(8)</a>
    </small></em></span>
  </section>
</div>
