/* for git.icyphox.sh */

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Charter', sans-serif; 
    font-feature-settings: 'ss01' 1, 'kern' 1, 'liga' 1, 'zero' 1, 
    'cv03' 1, 'cv02' 1, 'cv04' 1, 'tnum' 1; 
  }
}

@font-face {
  font-family: 'Charter';
  src: url('fonts/charter_italic.woff') format('woff');
  font-style: italic;
}


@font-face {
  font-family: 'Charter';
  src: url('fonts/charter_bold.woff') format('woff');
}

@font-face {
  font-family: 'Charter';
  src: url('fonts/charter_regular.woff') format('woff');
}
