@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html,
body {
	background: #021012;
}

.container {
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;

	-webkit-animation: fadein 3s;
	   -moz-animation: fadein 3s;
	    -ms-animation: fadein 3s;
	     -o-animation: fadein 3s;
	        animation: fadein 3s;
}

.container-text {
  position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;

	-webkit-animation: fadein 1.5s;
	   -moz-animation: fadein 1.5s;
	    -ms-animation: fadein 1.5s;
	     -o-animation: fadein 1.5s;
	        animation: fadein 1.5s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.introduction {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.content {
	position: absolute;
	font-size: 18px;
	top: 10%;
  left: 30%;
  right: 30%;
  width: 40%;
  line-height: 1.8;
}

pre {
  padding: 10px;
}

pre, code {
    background: #041b1e;
    word-wrap: break-word;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

.logo {
	width: 220px;
}

.footer {
	color: gray;
	bottom: 20px;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.header {
	color: cyan;
	top: 10px;
	position: absolute;
	width: 100%;
	text-align: left;
	margin: 20px;
}

a {
	color: gray;
	margin: 0;
	transition: all 200ms;
	text-decoration: none;
}

a:hover {
	color: #021012;
	background: cyan;
}

.left {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 30px;
}

.right {
	display: inline-block;
}

.right a {
	display: inline-block;
	margin-right: 30px;
}

.noselect {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

img {
  height: auto;
  width: 100%;

  max-width: 720px;
}

h1, h2, h3 {
  font-weight: normal;
}

h2 { 
  color: gray;
}

h3 {
  color: cyan;
}

p {
  bottom: 2em;
}


@media only screen and (max-width: 70em) {
	.left {
		display: block;
		margin-right: 0;
	}
	.right {
		display: block;
	}
	.right a:last-child {
		margin-right: 0;
	}
  
  .container-text {
    overflow-y: auto;
  }

	.content {
		left: 10%;
    right: 10%;
    bottom: 10%;
		width: 80%;
	}

  .content h1, h2, h3 {
    line-height: 1.5;
  }

  pre {
    overflow-x: auto;
  }

  .logo {
    width: 180px;
  }
}
