@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html,
body {
  background: #021012;
}

.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;

	-webkit-animation: fadein 3s;
	   -moz-animation: fadein 3s;
	    -ms-animation: fadein 3s;
	     -o-animation: fadein 3s;
	        animation: fadein 3s;
}

.container-text {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;

	-webkit-animation: fadein 1.5s;
	   -moz-animation: fadein 1.5s;
	    -ms-animation: fadein 1.5s;
	     -o-animation: fadein 1.5s;
	        animation: fadein 1.5s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.introduction {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.content {
	position: relative;
	font-size: 17px;
	top: 10%;
  left: 30%;
  right: 30%;
  width: 40%;
  line-height: 1.8;
}

pre {
  padding: 10px;
}

pre, pre code {
    background: #041b1e;
    color: white;
    word-wrap: break-word;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

code {
    color: cyan;
    background: #041b1e;
    padding: 1px;
}

a > code {
    transition: all 200ms;
    color: gray;
}

a > code:hover {
  	color: #021012;
  	background: cyan;
}

.logo {
	width: 220px;
  padding-bottom: 60px;
}

.footer {
	color: gray;
	bottom: 20px;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.header {
	color: cyan;
	top: 30px;
  display: inline-block;
	position: absolute;
	width: 100%;
  align: center;
	text-align: center;
}

.header a {
  margin-right: 20px;
}

.header a:last-child {
  margin-right: 0
}

.muted {
  color: gray
}

.muted a {
  color: cyan
}

table {
  width: 100%;
}

td {
  white-space: nowrap;
}

td:first-child {
  width: 100%;
  max-width: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
	color: gray;
	margin: 0;
	transition: all 200ms;
	text-decoration: none;
}

a:hover {
	color: #021012;
	background: cyan;
}

.left {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 30px;
}

.right {
	display: inline-block;
}

.right a {
	display: inline-block;
	margin-right: 30px;
}

.noselect {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}


footer img {
  all: initial;
}

.footimgs {
  padding-top: 10px;
  max-height: 2rem;
  display: inline-block;
  vertical-align: text-top;
  image-orientation: from-image;
  max-width: 100%;
  padding-bottom: 5px;
  cursor: pointer;
}

footer a:hover {
  color: unset;
  background: unset;
}

h1, h2, h3 {
  font-weight: normal;
}

h2 { 
  color: gray;
}

h3 {
  color: cyan;
}

p {
  bottom: 2em;
}

blockquote {
  border-left: 0.25rem solid gray;
  color: gray;
  font-style: italic;
  margin: .8rem 0;
  padding: .5rem 1rem
}

hr {
  width: 20%;
}

::selection {
  background-color: cyan;
  color: #021012;
}

@media only screen and (max-width: 70em) {
	.left {
		display: block;
		margin-right: 0;
	}
	.right {
		display: block;
	}
  .right a {
    margin-right: 15px;
  }
	.right a:last-child {
		margin-right: 0;
	}
  
/*  .container-text {
    overflow-y: auto;
  }*/

	.content {
		left: 5%;
    right: 5%;
    bottom: 10%;
		width: 90%;
	}

  .content h1, h2, h3 {
    line-height: 1.5;
  }

  pre {
    overflow-x: auto;
  }

  .logo {
    width: 180px;
  }
}
