<!DOCTYPE html>
<html lang=en>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="shortcut icon" type="images/x-icon" href="/static/favicon.ico">
<meta content="You seem lost, fam." name=description>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="#021012" name="theme-color">
<meta name="HandheldFriendly" content="true">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@icyphox">
<meta name="twitter:title" content="404">
<meta name="twitter:description" content="You seem lost, fam.">
<meta name="twitter:image" content="/static/icyphox.png">
<meta property="og:title" content="404">
<meta property="og:type" content="website">
<meta property="og:description" content="You seem lost, fam.">
<meta property="og:url" content="https://icyphox.sh">
<meta property="og:image" content="/static/icyphox.png">
<html>
  <title>
    404
  </title>
<div class="container">
  <header class="header">
    {{ header }}
  </header>
<body class="noselect"> 
  <div class="introduction">
    <h1 align="center">
      {{ body }}
    </h1>
   </div>
     </body>
    </div>
</html>
