<!DOCTYPE html>
<html lang=en>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
  <link rel="shortcut icon" type="images/x-icon" href="/static/favicon.ico">
  <meta name="description" content="{{ .Fm.Subtitle }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="#222" name="theme-color">
  <meta name="HandheldFriendly" content="true">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@icyphox">
  <meta name="twitter:title" content="{{ .Fm.Title }}">
  <meta name="twitter:description" content="{{ .Fm.Subtitle }}">
  <meta name="twitter:image" content="/static/icyphox.png">
  <meta property="og:title" content="{{ .Fm.Title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ .Fm.Subtitle }}">
  <meta property="og:url" content="https://icyphox.sh">
  <meta property="og:image" content="/static/icyphox.png">
  <title>
    {{ .Fm.Title }}
  </title>

  <body> 
    <section class="container"> 

      <div class="pull-left">
        <div class="content">

      <header>
        {{ .Cfg.Header }}
      </header>

      <article>
        {{ .Fm.Body }} 
      </article>
        </div>
      </div>
      <div class="pull-right">
        {{ .Cfg.Footer }}
      </div>
    </section>
  </body>
</html>
