<!DOCTYPE html>
<html lang=en>
  <head>
    {{ template "head.html" }}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://icyphox.sh/blog/feed.xml"> 
    <meta name="description" content="{{ index .Meta "subtitle" }}">
  </head>

  <title>
    {{ index .Meta "title" }} &mdash; {{ .Cfg.Title }}
  </title>
<body>
  <main>
    <div class="sidenav">
      {{ template "nav.html" }}
    </div>
    {{ .Body }}
    <table>
      {{ range $_, $post := .Posts }}
      <tr>
        <td align="left">
          <a href=/blog/{{ index $post.Meta "slug" }}>{{ index $post.Meta "title" }}</a>
        </td>
        {{ $dateStr := index $post.Meta "date" }}
        {{ $date := parsedate $dateStr }}
        <td align="right" class="index-date">{{ $date.Format "02 Jan, 2006" }}</td>
      </tr>
      {{ end }}
    </table>
  </main>
  <footer>
    {{ template "footer.html" }}
  </footer>
</body>

</html>
