<!doctype html>
<html lang=en>
  <head>
    {{ template "partials/head.html" }}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://icyphox.sh/blog/feed.xml">
    <meta name="description" content="{{ index .Meta "subtitle" }}">
  </head>

  <title>
    {{ .Meta.title }} &mdash; {{ .Cfg.Title }}
  </title>
<body>
  <main>
    <div class="sidenav">
      {{ template "partials/nav.html" }}
    </div>
    <h1>{{ index .Meta "title" }}</h1>
    {{ .Body }}

    <section class="posts">
      <ul>
          {{ $posts := .Extra }}
          {{ range $posts }}
              <li>
                <div class="post">
                  <a style="text-transform: lowercase" href=/blog/{{ .Meta.slug }}>{{ .Meta.title }}</a>
                  {{ if .Meta.draft }}
                    (<span class="draft">draft</span>)
                  {{ end }}
                  <p style="text-transform: lowercase" class="subtitle">{{ .Meta.subtitle }}</p>
                </div>
                {{ $dateStr := .Meta.date }}
                {{ $date := parsedate $dateStr }}
                <div class="index-date">{{ $date.Format "02 Jan, 2006" }}</div>
              </li>
          {{ end }}
        </ul>
    </section>
  </main>
  <footer>
    {{ template "partials/footer.html" }}
  </footer>
</body>

</html>
