<section class="footer">
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
    <img alt="cc nc-by-sa" src="/static/cc.svg">
  </a>
  <a href="https://webring.xxiivv.com/#random" target="_blank">
    <img alt="xxiivv webring" src="/static/webring.svg">
  </a>
  <a href="/blog/feed.xml" >
    <img alt="rss feed" src="/static/rss.svg" width="30">
  </a>
  <a href="https://git.icyphox.sh">
    <img alt="git" src="/static/git.svg" width="35">
  </a>
  <span>Anirudh Oppiliappan &copy; 2021 &mdash; CC BY-NC-SA 4.0</span>
</section>
