<!DOCTYPE html>
<html>
<header>
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
  <link rel="stylesheet" href="/static/responsive.css" type="text/css">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
<style>
body {
  margin-top: 10%;
}
</style>
	{{ header }}
	<title>
		{{ title }}	
	</title>
</header>

<body> 
	{{ body }}
</body>

<hr />
<footer>
	{{ footer }}
	<p> {{ author }} </p>
<footer>
