<!DOCTYPE html>
<html lang=en>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="shortcut icon" type="images/x-icon" href="/static/favicon.ico">
<meta content="Anirudh Oppiliappan" name=description>
<meta name="viewport" content="initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<title>
	{{ title }}	
</title>

<header>
	{{ header }}
</header>

<body> 
  <div class="centered">
  	{{ body }}
  </div>
</body>

