<!doctype html>
<html lang=en>
  <head>
    {{ template "partials/head.html" }}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://icyphox.sh/blog/feed.xml">
    <meta name="description" content="{{ index .Meta "subtitle" }}">

    <style>
    table {
      padding-top: 30px;
      article p {
        padding: 0;
      }
    }
    </style>
  </head>


  <title>
    {{ .Meta.title }} &mdash; {{ .Cfg.Title }}
  </title>
<body>
  <main>
    <div class="sidenav">
      {{ template "partials/nav.html" }}
    </div>
    <article align="left">
    <h1>{{ .Meta.title }}</h1>
    {{ .Body }}
    <section class="posts">
    <ul>
      {{ $posts := .Extra }}
      {{ range $posts }}
        <li>
          <div class="post">
            <a href=/photos/{{ .Meta.slug }}>{{ .Meta.title }} &mdash; {{ .Meta.season }}</a>
            <p class="subtitle">{{ .Meta.camera }} · {{ .Meta.lens }} · {{ .Meta.film }}</p>
          </div>
          {{ $dateStr := .Meta.date }}
          {{ $date := parsedate $dateStr }}
          <div class="index-date">{{ $date.Format "02 Jan, 2006" }}</div>
        </li>
      {{ end }}
    </ul>
    </section>
    </article>
  </main>
  <footer>
    {{ template "partials/footer.html" }}
  </footer>
</body>

</html>
