<!doctype html>
<html lang=en>
  <head>
    {{ template "partials/head.html" }}
    <meta name="description" content="{{ index .Meta "subtitle" }}">
  </head>
  <title>
    {{ .Meta.title }} ({{ .Meta.season }}) &mdash; {{ .Cfg.Title }}
  </title>
  <body>
  <main>
    <div>
      {{ template "partials/nav.html" }}
    </div>
    <article align="left">
      <h1 class="-mb-4">{{ .Meta.title }} &mdash; {{ .Meta.season }}</h1>
      <h2 class="text-gray dark:text-dark-gray"> {{ .Meta.camera }} · {{ .Meta.lens }} · {{ .Meta.film }} </h2>
      <div class="columns-1 md:columns-2 mt-12">
      {{ $photos := .Yaml.photos }}
      {{ $d := .Yaml.defaults }}
      {{ range $photos }}
        <a href="https://cdn.icyphox.sh/{{ . }}">
          <img class="object-cover relative w-full mb-3" src="https://cdn.icyphox.sh/fit?url=http://files.garage.koti.lan/{{ . }}&width={{ $d.width }}&height={{ $d.height }}" />
        </a>
      {{- end }}
      </div>
    </article>
  </main>
  <footer>
    {{ template "partials/footer.html" }}
  </footer>
</body>

</html>
