<!doctype html>
<html lang=en>
  <head>
    {{ template "partials/head.html" }}
    <meta name="description" content="{{ index .Meta "subtitle" }}">
  <style>
    h1 {
      margin: 0px;
      padding: 0px;
    }
  </style>
  </head>
  <title>
    {{ .Meta.title }} ({{ .Meta.season }}) &mdash; {{ .Cfg.Title }}
  </title>
  <body>
  <main>
    <div class="sidenav">
      {{ template "partials/nav.html" }}
    </div>
    <article align="left">
      <h1>{{ .Meta.title }} &mdash; {{ .Meta.season }}</h1>
      <h2 class="subtitle"> {{ .Meta.camera }} · {{ .Meta.lens }} · {{ .Meta.film }} </h2>
      <div class="image-grid">
      {{ $photos := .Yaml.photos }}
      {{ $d := .Yaml.defaults }}
      {{ range $photos }}
        <a href="https://cdn.icyphox.sh/{{ . }}">
          <img src="https://cdn.icyphox.sh/fit?url=http://files.garage.koti.lan/{{ . }}&width={{ $d.width }}&height={{ $d.height }}" />
        </a>
      {{- end }}
      </div>
    </article>
  </main>
  <footer>
    {{ template "partials/footer.html" }}
  </footer>
</body>

</html>
