<!doctype html>
<html lang=en>
  <head>
    {{ template "partials/head.html" }}
    <meta name="description" content="{{ index .Meta "subtitle" }}">
  <style>
    h1 {
      margin: 0px;
      padding: 0px;
    }
    h2 {
      padding-top: 2px;
      margin-top: 3px !important;
      margin-bottom: 5px;
      color: var(--gray);
    }
  </style>
  </head>
  <title>
    {{ index .Meta "title" }} &mdash; {{ .Cfg.Title }}
  </title>
  <body>
  <main>
    <div class="sidenav">
      {{ template "partials/nav.html" }}
    </div>
    <article align="left">
      <h1>{{ .Meta.title }} &mdash; {{ .Meta.season }}</h1>
      <h2> {{ .Meta.camera }} · {{ .Meta.lens }} · {{ .Meta.film }} </h2>
      {{ .Body }}
    </article>
  </main>
  <footer>
    {{ template "partials/footer.html" }}
  </footer>
</body>

</html>
