<!doctype html>
<html lang=en>
  <head>
    {{ template "partials/head.html" }}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://icyphox.sh/blog/feed.xml">
    <meta name="description" content="{{ index .Meta "subtitle" }}">

  <title>
    {{ .Meta.title }} &mdash; {{ .Cfg.Title }}
  </title>
<body>
  <main>
    <div class="sidenav">
      {{ template "partials/nav.html" }}
    </div>
    <article align="left">
    <h1>{{ .Meta.title }}</h1>
    <p> {{ .Meta.description }}</p>
    {{- $books := .Yaml.books }}
    {{- range $i, $yearMap := $books }}
    {{- range $year, $books := $yearMap }}
    <h2>{{ $year }}</h2>
    <section class="mt-4">
        <ul class="m-0 p-0">
          {{- range $book := $books }}
            <li class="list-none py-2">
              <div class="flex md:flex-row flex-col justify-between">
                <div>
                  <a href="{{ $book.link }}">{{ $book.name }}</a>
                  <p class="text-gray">{{ $book.author }}</p>
                </div>
                <span class="text-gray lowercase">{{ $book.status }}</span>
              </div>
            </li>
          {{- end }}
        </ul>
    </section>
    {{- end }}
    {{- end }}
    </article>
  </main>
  <footer>
    {{ template "partials/footer.html" }}
  </footer>
</body>

</html>
