<!DOCTYPE html>
<html lang=en>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
  <link rel="stylesheet" href="/static/syntax.css" type="text/css">
  <link rel="shortcut icon" type="images/x-icon" href="/static/favicon.ico">
  <meta charset="UTF-8">
  <meta name="description" content="{{ subtitle }}">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="#151B1B" name="theme-color">
  <meta name="HandheldFriendly" content="true">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@icyphox">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ subtitle }}">
  <meta name="twitter:image" content="/static/icyphox.png">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ subtitle }}">
  <meta property="og:url" content="https://icyphox.sh">
  <meta property="og:image" content="/static/icyphox.png">
  <title>
    {{ title }}
  </title>
  <body> 
    <div class="container">
      <div class="pull-left">
        <div class="content">
          <header>
            {{ header }}
          </header>
          <div style="float: right">
            view in <a href="/txt/{{ url }}.txt">plain-text</a>
          </div>
          <div style="float: left">
            {{ date }}
          </div>
          <div style="clear: both" align="left">
            <h1>{{ title }}</h1>
            <h2 class="subtitle">{{ subtitle }}</h2>
            {{ body }} 
          </div>
          <p class="muted">Questions or comments? 
          Send an email to 
          <a href="mailto:~icyphox/x@lists.sr.ht?Subject=Re: {{ title }}">~icyphox/x@lists.sr.ht</a>—my <a href="https://lists.sr.ht/~icyphox/x">public inbox</a>.</p>

          <hr>
            <div class="openring">
              
               <div class="openring-feed">
    <h4><a href="https://k1ss.org/blog/20200525a">25/05/2020: This month in KISS (#2)</a></h4>
    <p>Welcome to the second monthly update for KISS. This post will be
quite a long one, we've seen some nice changes this month and some
great work by the Community.…</p>

    <p>via <a href="https://k1ss.org">KISS Linux Blog</a> on May 25, 2020</p>
    </div>
    
              
               <div class="openring-feed">
    <h4><a href="https://peppe.rs/posts/turing_complete_type_systems/">Turing Complete Type Systems</a></h4>
    <p>Rust’s type system is Turing complete:

FizzBuzz with Rust Traits
A Forth implementation with Rust Traits

It is impossible to determine if a program written in a generally Turing complete system will ever stop. That is, it is impossible to write a program…</p>

    <p>via <a href="https://peppe.rs">nerdypepper's μblog</a> on Jun 18, 2020</p>
    </div>
    
              
               <div class="openring-feed">
    <h4><a href="https://drewdevault.com/2020/06/15/Status-update.html">Status update, June 2020</a></h4>
    <p>Like last month, I am writing to you from the past, preparing this status update
a day earlier than usual. This time it’s because I expect to be busy with
planned sr.ht maintenance tomorrow, so I’m getting the status updates written
ahead of time.

aerc ha…</p>

    <p>via <a href="https://drewdevault.com">Drew DeVault's Blog</a> on Jun 15, 2020</p>
    </div>
    
              

           </div>
           <div style="float: right">
            <small>
              Generated by <a href="https://github.com/icyphox/openring.py">
                openring.py
              </a>
            </small>
           </div>
        </div>
      </div>
      <div class="pull-right">
        {{ footer }}
      </div>
    </div>
  </body>
</html>