<!DOCTYPE html>
<html lang=en>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/syntax.css" type="text/css">
<link rel="shortcut icon" type="images/x-icon" href="/static/favicon.ico">
<meta charset="UTF-8">
<meta name="description" content="{{ subtitle }}">
<meta name="viewport" content="initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="#021012" name="theme-color">
<meta name="HandheldFriendly" content="true">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@icyphox">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ subtitle }}">
<meta name="twitter:image" content="/static/icyphox.png">
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ subtitle }}">
<meta property="og:url" content="https://icyphox.sh">
<meta property="og:image" content="/static/icyphox.png">
<html>
  <title>
    {{ title }}
  </title>
<div class="container-text">
  <header class="header">
    {{ header }}
  </header>
<body> 
   <div class="content">
     <div align="right">
       <a href="/blog/{{ url }}.txt">plain-text version</a>
     </div>
    <div align="left">
      <code>{{ date }}</code>
      <h1>{{ title }}</h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
      {{ body }} 
    </div>
    <p class="muted">Questions or comments? 
    Send an email to 
    <a href="mailto:~icyphox/x@lists.sr.ht?Subject=Re: {{ title }}">~icyphox/x@lists.sr.ht</a> — my <a href="https://lists.sr.ht/~icyphox/x">public inbox</a>.</p>
    <footer>
      {{ footer }}
    </footer>
  </body>
  </div>
 </html>
