<html lang=en>
  <head>
    {{ template "head.html" }}
  </head>
  <title>
    {{ index .Meta "title" }}
  </title>
  <body>
    <main> 
      <header>
        {{ template "nav.html" }}
      </header>
      <article align="left">
        <section class="post-date">
        {{ $dateStr := index .Meta "date" }}
        {{ $date := parsedate $dateStr }}
        {{ $date.Format "02 Jan, 2006" }}
        </section>

        <h1>{{ index .Meta "title" }}</h1>
        <h2 class="subtitle">{{ index .Meta "subtitle" }}</h2>
        {{ .Body }}
      </article>
      <p class="muted" align="center">Questions or comments?
      Send an
      <a href=mailto:x@icyphox.sh?Subject=Re: {{ index .Meta "title" }}>email</a>.
    </main>
    <footer>
      {{ template "footer.html" }}
    </footer>
  </body>

</html>
